
h1 {
    color: blue !important;
    text-align: center;
}

.h1_class {
    color: red !important;
}

#h1_id {
    color: pink;
}

.footer-img {
    width: 50px;
    border-radius: 5px;
}
.img {
    width: 256px ;
    height: 128px;
    border-radius: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
} 
.container {
    border: blue 1px solid;
    width: 50%;
    margin: 0 auto;
    height: 3400px;
}
.button {
    background-color: rgb(10, 10, 241);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: white;
    border: 0px;
    font-weight: bold;
}

hr {
    color: rgb(244, 250, 250);
    margin: 50px;
    margin-left: 7px;
    margin-right: 10px;
}

 table {
        border-collapse: collapse;
         width: 100%;
 }
        th, td {
         text-align: left;
          padding: 8px;  
        }                     
.arrow-table {
    width: 150px
}
 .border td, th {
    border: 1px solid black;
} 
.hr {
    color: rgb(244, 250, 250);
    margin: 50px;
    margin-left: 7px;
    margin-right: 10px;

 table th, td {
   vertical-align: left;
    border: 1px;
}
.footer-table{
    width:90px;
    margin-left: 15px
}
 
 .top-image {
     height: 110px; 
    width: 240px;  
    margin-top: 60px; 
    margin-left: 10px; 
    margin-right: 10px; 

}